body{
    background-color: rgb(115, 212, 212);
}

.box{
    background-color: brown;
    height: 100px;
    width: 100px;
    margin: 20px;
}

.box-default{
    border: 15px 10px;
    padding: 15px;
    border-style: solid;
    border-color: black;
}

.box-new{
    box-sizing: border-box;
    border: 15px 10px;
    padding: 15px;
    border-style: solid;
    border-color: black;
}