p{
    color: rgb(31, 145, 145);
    font-size: 20px;
    font-family:"Montserrat",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: initial;
    text-align: center;
}

h1{
    text-align: center;
}