h1{
    font-family: sans-serif;
    color: #48e;
}

h1:hover{
    background-color: antiquewhite;
}

h1:active{
    color: #fff;
    background-color: #888;
}

li:first-child{
    text-decoration: underline;
    color:#239;
}

p:first-child{
    background-color: #536;
}

li:nth-child(3n) { 
    font-weight: bold; 
        background-color: #627;
}

li:last-child{
    color:#536;
}

.lista li:not(.excluir){
    color:#888;
}

.lista li:not(.incluir){
    color:#3e3;
}

div{
    border: 2px, solid, #536;
}

div:empty{
    border: none;
}

input{
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    color:#239;
    margin: 50px;
}

input[type="checkbox"]:checked{
    color: #48e;
    margin:0;
}

a:link{
    color: #48e;
    display: block;
    margin-bottom: 10px;
}

a:visited{
    color: #373;
}

input.CO:invalid{
    color: #f00;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}

input:valid{
    color: #48e;
}
input.clave:placeholder-shown{
    border: 2px, solid, #f00;
}

section :is(.l1, .l2, .l3){
    color: #536;
}

label:has(+ input:focus) {
    color: blue;
}

label:has(+ input:valid) {
    color: green;
}

label:has(+ input:invalid) {
    color: red;
}