body{
    background-color: #4448;
}

details{
    background-color: transparent;
    font-family: "Montserrat";
    font-weight: 400px;
    margin: auto;
    border: 2px double #ddd; 
    border-radius: 6px;
    padding: 6px;
}

summary{
    background-color: transparent;
    font-family: "Montserrat";
    font-weight: 400px;
    margin: auto;
}

form{
    margin: auto;
}

label{
    margin: auto;
}

li{
    padding-left: 8px;
}