body{
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}
ul > li{
    color:grey;
}

img[src$="jpg"]{
    margin:auto;
    width: 100px;
}

.faltante{
    color: red;
}

#secreto{
    color: blue;
}